<section class="position-relative py-4 py-xl-5">
  <div class="container">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2>Found Items Available to Buy</h2>
            <p class="w-lg-50">Click on a card below to view more details about the item!</p>
            <% if @listings.empty? %>
              <h5>Sorry! No items were found :(</h5>
            <% end %>
        </div>
    </div>
    <div class="card-group">
        <% @listings.each do |listing| %>
          <div class="card">
              <%= image_tag(listing.images.first, class: "card-img-top w-75 d-block mx-auto")%>
              <div class="card-body">
                  <h4 class="card-title"><%= listing.title.truncate(100) %></h4>
                  <h5 class="card-title">$<%= number_with_precision(listing.outright_price, precision: 2) %></h5>
                  <p class="card-text"><%= listing.description.body.to_plain_text.truncate(500) %></p>
                  <%= button_to "Show Details", listing, method: :get, class: "btn btn-primary" %>
              </div>
          </div>
        <% end %>
    </div>
  </div>
</section>