<div class="container py-4 py-xl-5">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
          <% if @listing.images.attached? %>
            <% @listing.images.each do |image|%>
              <%= image_tag( image, class: "img-fluid", style: "min-height: 300px;" )%>
            <% end %>
          <% else %>
            <%= image_tag "no_image_attached_placeholder.png", class: "rounded w-100 h-100 fit-cover", style: "min-height: 300px;", alt: "Placeholder image" %>
          <% end %>
        </div>
        <div class="col d-flex flex-column justify-content-start p-4">
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <div>
                    <h4>Title:</h4>
                    <h5><%=@listing.title%></h5>
                </div>
            </div>
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <div>
                    <h4>Seller:</h4>
                    <h5><%=@listing.user.username%></h5>
                </div>
            </div>
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <div>
                    <h4>Categories:</h4>
                    <% @listing.categories.each do |category| %>
                      <p>
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                      <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                      </svg>
                    <%= category.name %>
                    </p>
                    <% end %>
                </div>
            </div>
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <div>
                    <h4>Description:</h4>
                    <%= @listing.description %>
                </div>
            </div>
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <div>
                    <h4>Buy Now Price:</h4>
                    <h5>$<%= number_with_precision(@listing.outright_price, precision: 2) %></h5>
                </div>
            </div>
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <% if !user_signed_in? %>
                    <div class="alert alert-warning" role="alert"><h5>Please 'Sign In' to interact with this listing!</h5></div>
                <% else %>
                    <% if current_user.id == @listing.user_id %>
                        <div class="alert alert-info" role="alert"><h5>INFO: This is your own listing.</h5></div>
                    <% elsif @listing.quantity == 1 %>
                        <%= button_to 'ADD TO CART', add_to_cart_path, method: :post, class: "btn btn-success" %>
                    <% elsif @listing.quantity <= 0 %>
                        <div class="alert alert-warning" role="alert"><h5>This listing has ALREADY SOLD :(</h5></div>
                    <% end %>
                <% end %>
            </div>
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <%= link_to 'Back', listings_path %>
                <br/>
                <% if user_signed_in? %>
                    <% if current_user.id == @listing.user_id %>
                        <%= button_to 'Edit', edit_listing_path(@listing), method: :get, class: "btn btn-warning" %>
                        <br/>
                        <%= button_to 'DELETE THIS LISTING', @listing, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
