<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Images:</strong>
  <% if @listing.images.attached? %>
    <% @listing.images.each do |image| %>
      <!--<div><%= link_to image.filename, image %></div>-->
      <%= image_tag image, alt: @listing.title + " image preview" %>
    <% end %>
  <% else %>
    <%= image_tag "no_image_attached_placeholder.png", alt: "Placeholder image" %>
  <% end %>
  
</p>

<p>
  <strong>Outright price:</strong>
  <%= @listing.outright_price %>
</p>

<p>
  <strong>Negotiable:</strong>
  <%= @listing.negotiable %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @listing.quantity %>
</p>

<p>
  <strong>Deliverable:</strong>
  <%= @listing.deliverable %>
</p>

<p>
  <strong>Listing fee:</strong>
  $<%= number_with_precision(@listing.listing_fee.fee_price, precision: 2) %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
