<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @cart_item.user_id %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @cart_item.listing_id %>
</p>

<p>
  <strong>Cart num:</strong>
  <%= @cart_item.cart_num %>
</p>

<p>
  <strong>Delivery fee:</strong>
  <%= @cart_item.delivery_fee_id %>
</p>

<%= link_to 'Edit', edit_cart_item_path(@cart_item) %> |
<%= link_to 'Back', root_path %>
