<div class="container py-4 py-xl-5">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col d-flex flex-column justify-content-start p-4">
        <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
          <div>
              <h4>Cart Items For:</h4>
              <h5><%= current_user.username %></h5>
          </div>
          <br/>
          <br/>
          <% if @cart_items.blank? %>
            <h4>There are no items in your cart.</h4>
          <% else %>
            <% item_count = 1 %>
            <% total_cost = 0.00 %>
            <% @cart_items.each do |cart_item| %>
              <h5>Item #<%= item_count %></h5>
              <div>
                  <strong>Item:</strong>
                  <%= cart_item.listing.title.truncate(100) %>
              </div>
              <div>
                  <strong>Seller:</strong>
                  <%= cart_item.listing.user.username %>
              </div>
              <div>
                  <strong>Price:</strong>
                  <strong>$<%= number_with_precision(cart_item.listing.outright_price, precision: 2) %></strong>
                  <% total_cost += cart_item.listing.outright_price %>
              </div>
              <% item_count += 1 %>
              <br/>
            <% end %>
            <br/>
            <strong>Total delivery fee from <%= @count_of_sellers.to_s %> seller(s):</strong>
            <strong>$<%= number_with_precision(@total_delivery_cost, precision: 2) %></strong>
            <br/>
            <br/>
            <strong>Total cost + delivery: </strong>
            <strong>$<%= number_with_precision((total_cost + @total_delivery_cost), precision: 2) %></strong>
            <br/>
            <%= button_to 'Clear Cart', clear_cart_path, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
          <% end %>
          
          
      </div>
    </div>
  </div>
  <%= link_to 'Back', root_path %>
</div>



